

<!-- <h1> Hangman Game </h1>
{{ user }}
{{ user.username }}
<div>
      <ul>
        {% if user.is_authenticated %}
            <li>User: {{ user }}</li>
            <li>Score: {{ user.profile.score }}</li>
            <li><a href="/logout/">Log Out</a></li>
            {% if not user.profile.play_game %}
            <li><a href="">Play New Game</a></li>
            <li><a href="/game/create_game/">Create New Game</a></li>
            {% endif %}
        {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul> -->

